@inject IDatabaseContext DatabaseContext

@if (ViewBag.Id == null) {
    <h2>@i18n.Overview_Cities</h2>
    <table>
        <tr>
            <th>@i18n.City_Name</th>
            <th>@i18n.City_Population</th>
        </tr>
        @foreach(var city in DatabaseContext.CityRepository.FindAll()) {
            <tr>
                <td><a href="@Url.Action("City", "App", new Identifiable(city.Id))">@city.Name</a></td>
                <td>@DatabaseContext.PersonRepository.FindByCityId(city.Id).Count</td>
            </tr>
        }
    </table>
}
else
{
    var city = DatabaseContext.CityRepository.GetById(ViewBag.Id);
    <h2>@city.Name</h2>

    <table>
        <tr>
            <th>@i18n.City_Name</th>
            <td>@city.Name</td>
        </tr>
        <tr>
            <th>@i18n.City_Population</th>
            <td><ul class="simple-ul">
                @foreach (var person in DatabaseContext.PersonRepository.FindByCityId(city.Id))
                {
                    <li><a href="@Url.Action("Person", "App", new Identifiable(person.Id))">@person.Name</a></li>
                }
            </ul></td>
        </tr>
    </table>
    
    <a href="@Url.Action("City", "App", new { id = "" })">@i18n.General_Back</a>
}