
@inject IDatabaseContext DatabaseContext

<h2><a href="@Url.Action("Person", "App")">@i18n.Overview_Persons</a></h2>

<ul>
    @foreach(var person in DatabaseContext.PersonRepository.FindAll()) {
        <li><a href="@Url.Action("Person", "App", new Identifiable(person.Id))">@person.Name</a></li>
    }
</ul>

<h2><a href="@Url.Action("City", "App")">@i18n.Overview_Cities</a></h2>

<ul>
    @foreach(var city in DatabaseContext.CityRepository.FindAll()) {
        <li><a href="@Url.Action("City", "App", new Identifiable(city.Id))">@city.Name</a></li>
    }
</ul>

<h2><a href="@Url.Action("RelationshipType", "App")">@i18n.Overview_RelationshipTypes</a></h2>

<ul>
    @foreach(var relationshipType in RelationshipTypeMethods.Values()) {
        <li><a href="@Url.Action("RelationshipType", "App", new { id = relationshipType.ToString() })">@relationshipType.GetDisplayName()</a></li>
    }
</ul>
