<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Piltover's Finest</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @{
                var noId = new { id = "" };
            }
            <a class = "navbar-brand" href="@Url.Action("Index", "App", noId)">Piltover's Finest</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Person", "App", noId)">@i18n.Overview_Persons</a></li>
                <li><a href="@Url.Action("City", "App", noId)">@i18n.Overview_Cities</a></li>
                <li><a href="@Url.Action("RelationshipType", "App", noId)">@i18n.Overview_RelationshipTypes</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now - Piltover's Finest (<a href="https://github.com/slothsoft/hello-c-sharp">GitHub Repository</a>)</p>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>