@inject IDatabaseContext _databaseContext

@{
    ViewBag.I18N_Name = "Name";
    ViewBag.I18N_Population = "Bevölkerung";
}

@if (ViewBag.Id == null) {
    <h2>St&auml;dte</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <th>@ViewBag.I18N_Population</th>
        </tr>
        @foreach(var city in _databaseContext.CityRepository.FindAll()) {
            <tr>
                <td><a href="@Url.Action("City", "Home", new Identifiable(city.Id))">@city.Name</a></td>
                <td>@_databaseContext.PersonRepository.FindByCityId(city.Id).Count</td>
            </tr>
        }
    </table>
}
else
{
    var city = _databaseContext.CityRepository.GetById(ViewBag.Id);
    <h2>@city.Name</h2>

    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <td>@city.Name</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_Population</th>
            <td><ul class="simple-ul">
                @foreach (var person in _databaseContext.PersonRepository.FindByCityId(city.Id))
                {
                    <li><a href="@Url.Action("Person", "Home", new Identifiable(person.Id))">@person.Name</a></li>
                }
            </ul></td>
        </tr>
    </table>
    
    <a href="@Url.Action("City", "Home", new { id = "" })">Zur&uuml;ck</a>
}