@using HelloCSharp.Database
@{
    ViewBag.I18N_Name = "Name";
    ViewBag.I18N_Population = "Bevolkerung";
}


@if (ViewBag.Id == null) {
    <h2>St&auml;dte</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <th>@ViewBag.I18N_Population</th>
        </tr>
        @foreach(var city in Database.GetInstance().CityRepository.FindAll()) {
            <tr>
                <td><a href="/Home/City/@city.Id">@city.Name</a></td>
                <td>@Database.GetInstance().PersonRepository.FindByCityId(city.Id).Count</td>
            </tr>
        }
    </table>
}
else
{
    var city = Database.GetInstance().CityRepository.GetById(ViewBag.Id);
    <h2>@city.Name</h2>

    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <td>@city.Name</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_Population</th>
        <td><ul class="simple-ul">
                @foreach (var person in Database.GetInstance().PersonRepository.FindByCityId(city.Id))
                {
                    <li><a href="/Home/Person/@person.Id">@person.Name</a></li>
                }
        </ul></td>
        </tr>
    </table>
    
    <a href="/Home/City/">Zu&uuml;ck</a>
}