@using HelloCSharp.Database
@using HelloCSharp.Models
@{
    ViewBag.Persons = Database.GetInstance().PersonRepository.FindAll();
    ViewBag.Cities = Database.GetInstance().CityRepository.FindAll();
}

<h2>@Html.ActionLink("Personen", "Person", "Home")</h2>

<ul>
    @foreach(var person in ViewBag.Persons) {
        <li>@Html.ActionLink((string) person.Name, "Person", "Home", new Identifiable(person.Id), null)</li>
    }
</ul>

<h2>@Html.ActionLink("Städte", "City", "Home")</h2>

<ul>
    @foreach(var city in ViewBag.Cities) {
        <li>@Html.ActionLink((string) city.Name, "City", "Home", new Identifiable(city.Id), null)</li>
    }
</ul>

<h2>@Html.ActionLink("Beziehungen", "RelationshipType", "Home")</h2>

<ul>
    @foreach(var relationshipType in RelationshipTypeMethods.Values()) {
        <li>@Html.ActionLink(relationshipType.DisplayName(), "RelationshipType", "Home", new { id = relationshipType.ToString() }, null)</li>
    }
</ul>