
@inject IDatabaseContext _databaseContext

<h2><a href="@Url.Action("Person", "Home")">Personen</a></h2>

<ul>
    @foreach(var person in _databaseContext.PersonRepository.FindAll()) {
        <li><a href="@Url.Action("Person", "Home", new Identifiable(person.Id))">@person.Name</a></li>
    }
</ul>

<h2><a href="@Url.Action("City", "Home")">St&auml;dte</a></h2>

<ul>
    @foreach(var city in _databaseContext.CityRepository.FindAll()) {
        <li><a href="@Url.Action("City", "Home", new Identifiable(city.Id))">@city.Name</a></li>
    }
</ul>

<h2><a href="@Url.Action("RelationshipType", "Home")">Beziehungen</a></h2>

<ul>
    @foreach(var relationshipType in RelationshipTypeMethods.Values()) {
        <li><a href="@Url.Action("RelationshipType", "Home", new { id = relationshipType.ToString() })">@relationshipType.DisplayName()</a></li>
    }
</ul>
