@using HelloCSharp.Database
@using HelloCSharp.Models
@{
    ViewBag.I18N_Name = "Name";
    ViewBag.I18N_Age = "Alter";
    ViewBag.I18N_City = "Wohnort";
    ViewBag.I18N_Relationships = "Beziehungen";
}
@if (ViewBag.Id == null) {
    <h2>Personen</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <th>@ViewBag.I18N_Age</th>
            <th>@ViewBag.I18N_City</th>
            <th>@ViewBag.I18N_Relationships</th>
        </tr>
        @foreach(var person in Database.GetInstance().PersonRepository.FindAll()) {
            <tr>
                <td>@Html.ActionLink(person.Name, "Person", "Home", new Identifiable(person.Id), null)</td>
                <td>@person.Age</td>
                <td>@Html.ActionLink(person.City.Name, "City", "Home", new Identifiable(person.City.Id), null)</td>
                <td>@Database.GetInstance().RelationshipRepository.FindByPersonId(person.Id).Count</td>
            </tr>
        }
    </table>
}
else
{    
    var person = Database.GetInstance().PersonRepository.GetById(ViewBag.Id);
    <h2>@person.Name</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <td>@person.Name</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_Age</th>
            <td>@person.Age</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_City</th>
            <td>@Html.ActionLink((string) person.City.Name, "City", "Home", new Identifiable(person.City.Id), null)</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_Relationships</th>
            <td>
                <ul class="simple-ul">
                    @foreach (var relationship in Database.GetInstance().RelationshipRepository.FindByPersonId(person.Id))
                    {
                        <li>@Html.ActionLink((string) relationship.FromName, "Person", "Home", new Identifiable(relationship.FromId), null) @Html.ActionLink((string) RelationshipTypeMethods.Message(relationship.Type), "RelationshipType", "Home", new { id = relationship.Type.ToString() }, null) @Html.ActionLink((string) relationship.ToName, "Person", "Home", new Identifiable(relationship.ToId), null)</li>
                    }
                </ul>
            </td>
        </tr>
    </table>
    
    @Html.ActionLink("Zu&uuml;ck", "Person", "Home", new { id = "" }, null)
}