@inject IDatabaseContext _databaseContext

@{
    ViewBag.I18N_Name = "Name";
    ViewBag.I18N_Age = "Alter";
    ViewBag.I18N_City = "Wohnort";
    ViewBag.I18N_Relationships = "Beziehungen";
}
@if (ViewBag.Id == null) {
    <h2>Personen</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <th>@ViewBag.I18N_Age</th>
            <th>@ViewBag.I18N_City</th>
            <th>@ViewBag.I18N_Relationships</th>
        </tr>
        @foreach(var person in _databaseContext.PersonRepository.FindAll()) {
            <tr>
                <td><a href="@Url.Action("Person", "Home", new Identifiable(person.Id))">@person.Name</a></td>
                <td>@person.Age</td>
                <td><a href="@Url.Action("City", "Home", new Identifiable(person.City.Id))">@person.City.Name</a></td>
                <td>@_databaseContext.RelationshipRepository.FindByPersonId(person.Id).Count</td>
            </tr>
        }
    </table>
}
else
{    
    var person = _databaseContext.PersonRepository.GetById(ViewBag.Id);
    <h2>@person.Name</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <td>@person.Name</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_Age</th>
            <td>@person.Age</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_City</th>
            <td>@Html.ActionLink((string) person.City.Name, "City", "Home", new Identifiable(person.City.Id), null)</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_Relationships</th>
            <td>
                <ul class="simple-ul">
                    @foreach (var relationship in _databaseContext.RelationshipRepository.FindByPersonId(person.Id))
                    {
                        <li>
                            @if (relationship.FromName.Equals(person.Name))
                            {
                                @relationship.FromName
                            } else {
                                <a href="@Url.Action("Person", "Home", new Identifiable(relationship.FromId))">@relationship.FromName</a>
                            }
                            <a href="@Url.Action("RelationshipType", "Home", new {id = relationship.Type.ToString()})">@RelationshipTypeMethods.Message(relationship.Type)</a>
                            
                            @if (relationship.ToName.Equals(person.Name))
                            {
                                @relationship.ToName
                            } else {
                                <a href="@Url.Action("Person", "Home", new Identifiable(relationship.ToId))">@relationship.ToName</a>
                            }
                        </li>
                    }
                </ul>
            </td>
        </tr>
    </table>
    
    <a href="@Url.Action("Person", "Home", new { id = "" })">Zur&uuml;ck</a>
}