@inject IDatabaseContext DatabaseContext

@{
    ViewBag.I18N_Name = "Name";
    ViewBag.I18N_Examples = "Beispiele";
}

@if (ViewBag.Id == null) {
    <h2>Beziehungen</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <th>@ViewBag.I18N_Examples</th>
        </tr>
        @foreach(var relationshipType in RelationshipTypeMethods.Values()) {
            <tr>
                <td><a href="@Url.Action("RelationshipType", "Home", new { id = relationshipType.ToString() })">@relationshipType.DisplayName()</a></td>
                <td>@DatabaseContext.RelationshipRepository.FindByType(relationshipType).Count</td>
            </tr>
        }
    </table>
}
else
{
    var relationshipType = RelationshipTypeMethods.ValueOf(ViewBag.Id);
    <h2>@RelationshipTypeMethods.DisplayName(relationshipType)</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <td>@RelationshipTypeMethods.DisplayName(relationshipType)</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_Examples</th>
            <td>
                <ul class="simple-ul">
                    @foreach (var relationship in DatabaseContext.RelationshipRepository.FindByType(relationshipType))
                    {
                        <li>
                            <a href="@Url.Action("Person", "Home", new Identifiable(relationship.FromId))">@relationship.FromName</a>
                            @RelationshipTypeMethods.Message(relationship.Type)
                            <a href="@Url.Action("Person", "Home", new Identifiable(relationship.ToId))">@relationship.ToName</a>
                        </li>
                    }
                </ul>
            </td>
        </tr>
    </table>
    
    <a href="@Url.Action("RelationshipType", "Home", new { id = "" })">Zur&uuml;ck</a>
}