@using HelloCSharp.Database
@using HelloCSharp.Models
@{
    ViewBag.I18N_Name = "Name";
    ViewBag.I18N_Examples = "Beispiele";
}

@if (ViewBag.Id == null) {
    <h2>Beziehungen</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <th>@ViewBag.I18N_Examples</th>
        </tr>
        @foreach(var relationshipType in RelationshipTypeMethods.Values()) {
            <tr>
                <td>@Html.ActionLink(relationshipType.DisplayName(), "RelationshipType", "Home", new { id = relationshipType.ToString() }, null)</td>
                <td>@Database.GetInstance().RelationshipRepository.FindByType(relationshipType).Count</td>
            </tr>
        }
    </table>
}
else
{
    var relationshipType = RelationshipTypeMethods.ValueOf(ViewBag.Id);
    <h2>@RelationshipTypeMethods.DisplayName(relationshipType)</h2>
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <td>@RelationshipTypeMethods.DisplayName(relationshipType)</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_Examples</th>
            <td>
                <ul class="simple-ul">
                    @foreach (var relationship in Database.GetInstance().RelationshipRepository.FindByType(relationshipType))
                    {
                        <li>@Html.ActionLink((string) relationship.FromName, "Person", "Home", new Identifiable(relationship.FromId), null) @RelationshipTypeMethods.Message(relationship.Type) @Html.ActionLink((string) relationship.ToName, "Person", "Home", new Identifiable(relationship.ToId), null)</li>
                    }
                </ul>
            </td>
        </tr>
    </table>
    
    @Html.ActionLink("Zu&uuml;ck", "RelationshipType", "Home", new { id = "" }, null)
}