@using HelloCSharp.Database
@{
    ViewBag.I18N_Name = "Name";
    ViewBag.I18N_Number = "Anzahl";
}

<h2>@ViewBag.Title</h2>

@if (@ViewBag.Id == null) {
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <th>@ViewBag.I18N_Number</th>
        </tr>
        @foreach(var city in @ViewBag.Cities) {
            <tr>
                <td><a href="/Home/City/@city.Id">@city.Name</a></td>
                <td>@Database.GetInstance().RelationshipRepository.FindByPersonId(city.Id).Count</td>
            </tr>
        }
    </table>
}
else
{
    <table>
        <tr>
            <th>@ViewBag.I18N_Name</th>
            <td>@ViewBag.City.Name</td>
        </tr>
        <tr>
            <th>@ViewBag.I18N_Number</th>
        <td><ul class="simple-ul">
                @foreach (var person in @Database.GetInstance().RelationshipRepository.FindByPersonId(ViewBag.City.Id))
                {
                    <li><a href="/Home/Person/@person.Id">@person.Name</a></li>
                }
        </ul></td>
        </tr>
    </table>
    
    <a href="/Home/City/">Zu&uuml;ck</a>
}